<h1>Coupon code generator</h1>

<p>Randomly generated <%= codes.count %> codes:</p>

<% codes.each do |code| %>
<code><%= code %></code>
<% end %>

<hr/>

<p>Powered by <%= link_to 'coupon-code gem', 'https://rubygems.org/gems/coupon_code' %></p>
